*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

body{
    background-color: lightblue;
    overflow: hidden;
}

#space{
    position: absolute;
    width: 100%;
    height: 100%;
}

#balloon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* background-color: red; */
    position: absolute;
    top: 50px;
    left: 50px;
}

#balloon::after {
    content: '';
    position: absolute;
    top: 20px;
    left: 50px;
    translate: -50%;
    width: 50%;
    height: 50%;
    background-image: var(--alpha-image);
    background-size: var(--alpha-size);
    opacity: .8;
}

#balloon::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(assets/threade.png);
    top: 58px;
    left: 0px;
}

#score{
    position: absolute;
    right: 3%;
    top: 3%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5rem;
    font-weight: bolder;
    color: red;
    -webkit-text-stroke: 2px white;
}

